/*Spinner.jsx  - starts here*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*Spinner.jsx - ends here*/

/* TabComponent.jsx - starts here*/
.tabComponent {
  .tab-header {
    display: flex;
  }

  .tab {
    padding: 12px 40px;
    cursor: pointer;
  }

  .tab.active {
    border-bottom: 3px solid #007680;
    font-weight: 600;
    color: #007680;
  }

  .summary-details-tab.active {
    text-align: center;
    min-width: 50%;
    background-color: #007680;
    color: #fff;
    border: none;
    font-weight: 600;
  }

  .tab.inactive {
    color: #75787b;
  }

  .summary-details-tab.inactive {
    text-align: center;
    min-width: 50%;
    background-color: #edfff8;
    border: none;
    color: #53565a;
  }

  .last-tab {
    border-radius: 0px 8px 8px 0px;
  }
  .first-tab {
    border-radius: 8px 0px 0px 8px;
  }
}
/* TabComponent.jsx - ends here*/

/*Banner.jsx  - starts here*/
.coc-tealbg {
  background-color: #004f59;
}
/*Banner.jsx - ends here**/

/*Card.jsx  - starts here*/
.coc-cardImg {
  height: 56px;
  width: 56px;
}
/*Card.jsx - ends here**/

/*HoriZontalBarChart.jsx  - starts here*/
.coc-barChartHeight {
  height: 90px;
}
/*HoriZontalBarChart.jsx - ends here**/

/*Filters.jsx  - starts here*/
.coc-filterbg {
  background-color: #f5f5f8;
}

.coc-tealcolour {
  color: #007680;
}

.coc-active {
  background-color: #ddefe8 !important;
  border-color: #007680 !important;
  border-style: solid !important; /* Added border-style */
  border-width: 1.5px !important;
}

.coc-disable {
  cursor: default !important;

  background-color: #e9ecef !important;
  color: gray;
  border-color: gray !important;
  border-style: solid !important; /* Added border-style */
  border-width: 1.5px !important;
}

.coc-btn:hover {
  background-color: #ddefe8 !important;
  border-color: #007680 !important;
  border-style: solid !important; /* Added border-style */
  border-width: 1.5px !important;
}

/*Filters.jsx - ends here**/
.chat {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 450px;
  font-family: Open Sans;
  overflow-y: auto;
  .message-left {
    display: block;
    text-align: left;
    padding: 5px 10px;
    width: 46%;
    border-radius: 12px 0px 12px 12px;
    background-color: #d0d0ce;
    font-size: 16px;
    word-wrap: break-word;
  }
  .message-right {
    display: block;
    padding: 5px 10px;
    margin-left: 52%;
    width: 48%;
    border-radius: 0px 12px 12px 12px;
    background-color: #e4f6ff;
    font-size: 16px;
    word-wrap: break-word;
  }
  .msg-admin-info {
    font-size: 12px;
    font-weight: 400;
  }
  .msg-user-info {
    font-size: 12px;
    text-align: right;
    display: block;
    font-weight: 400;
  }
}
/* Chat */
/* message input field*/
.chatbot-welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 18vh;
}
.chat-input-field {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  padding: 12px;
  .message-input {
    width: 98%;
    border: none;
    outline: none;
  }
  .send-icon {
    width: 16px;
    color: #75787b;
  }
}
.chat-input-field {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  padding: 4px;
  .message-input {
    width: 98%;
    border: none;
    outline: none;
  }
  .send-icon {
    width: 16px;
    color: #75787b;
  }
}
.coc-chatbot {
  position: "fixed";
  margin-top: -100px;
  margin-right: 5px;
  z-index: 1000;
  cursor: "move";
}
.coc-chatbot-icon {
  height: 100px;
  width: 100px;
  z-index: 1000;
}
