.column {
  transition: flex 0.3s ease;
  height: 100vh;
}

.third-column {
  flex: 0 0 17%;
  overflow-y: hidden;
  height: 100%;
  background-color: #f5f5f8;
}
.first-column {
  flex: 0 0 14%;
  overflow-y: hidden;
  height: 100%;
  background-color: #f5f5f8;
}

.second-column {
  height: 100vh;
  overflow-y: auto;
  flex: 1;
  background-color: white;
  scrollbar-width: thin;

  /* removed this - To add scrollbar in AgGrid table */
  /* scrollbar-color: transparent transparent; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.second-column::-webkit-scrollbar {
  display: none;
}
.collapsed {
  flex: 0.03 0 0;
}

.coc-percentage {
  flex: 1;
}
