.vertical-divider {
  width: 1px;
  background: #d0d0ce;
  margin-top: 5px;
  margin-bottom: 18px;
  margin-right: 8px;
}

.forecast {
  padding: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.forecast-sub-heading {
  font-weight: 600;
  font-size: 16px;
}

.chatbot-container {
  position: fixed;
  right: 270px;
  bottom: 20px;
  z-index: 1000;
}
